/*
 * applicationLayout.scss
 */

.application-container {
    margin: 0;
    padding: 0;
    height: 100%;
}

.content {
	position: absolute;
    left: $side-menu-width;
    right: 0;
    overflow: auto;
}
