/*
 * applicationLayout.scss
 */

.application-container {
    margin: 0;
    padding: 0;
    height: 100%;
}

.content {
	position: fixed;
    left: $side-menu-width;
    right: 0;

    -webkit-transition: all 0.2s ease 0s; /* Safari */
    transition: all 0.2s ease 0s;

	&.expand {
		left: 0px;
	}
}
