/*
 * editor.scss
 */

.editor {

    padding: 0;

    .editor-header {

        background-color: $editor-header-background-color;
        border-bottom: 1px solid $editor-header-item-border-color;
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        margin: 0;
        padding: 5px;
        height: $top-menu-height;

        .right {
            float: right;
        }

        .editor-header-item {

            margin: 5px;
            display:inline-block;
            width:40px;
            height:40px;
            border-radius:50%;
            font-size:40px;
            line-height:35px;
            text-align:center;
            background:#fff;
            border: 1px solid $editor-header-item-border-color;
            box-shadow: 0 1px 2px 0 rgba($editor-header-item-border-color, .05);
            color: $editor-header-item-color;
            background-color: $editor-header-item-background-color;
            vertical-align: top;
        }

        .editor-header-button {

            @extend .editor-header-item;

            &:hover {
                text-decoration: none;
                color: $editor-header-item-tint-color;
            }
        }

        .editor-header-segment-control {

            display: block;
            font-size: 0;    // Fix to remove spacing between items

            .segment-control-option {

                @extend .editor-header-item;

                font-size:12px;
                padding: 0 20px;
                width: auto;
                border-radius: 0;
                line-height: 40px;

                &.selected {
                    background-color: darken($editor-header-background-color, 2.5);
                }

                &:hover {
                    text-decoration: none;
                }

                &:first-child {
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                    margin-right: 0;
                }

                &:last-child {
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    margin-left: 0;

                }
            }
        }

        textarea.editor-header-textarea {

            @extend .editor-header-item;

            font-size: 12px;
            padding: 0 20px;
            line-height: 40px;
            border-radius: 20px;
            width: 200px;
            resize: none;
            text-align: left;
            overflow-x: scroll;
            overflow-y: hidden;

            &:focus {
                border-color: $editor-header-item-tint-color;
                outline: 0 none;
            }
        }
    }
}
