/*
 * editor.scss
 */

.editor {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .editor-header {

        // Theme
        background-color: $editor-header-background-color;
        border-bottom: 1px solid $editor-header-item-border-color;

        // Style
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        height: $editor-header-height;
        overflow-x: hidden;
        padding: 0 6px;
        font-size: 0;

        .right {
            float: right;
        }

        .editor-header-item {

            // Theme
            border: 1px solid $editor-header-item-border-color;
            box-shadow: 0 1px 2px 0 rgba($editor-header-item-border-color, .05);
            color: $editor-header-item-color;
            background-color: $editor-header-item-background-color;

            // Style
            margin: calc(#{$editor-header-height - $editor-header-item-height} / 2) 3px;
            display:inline-block;
            position: relative;
            width:$editor-header-item-height;
            height:$editor-header-item-height;
            border-radius:50%;
            line-height: $editor-header-item-height;
            text-align:center;
            vertical-align: top;

            i {
                font-size: 20px;
                line-height: inherit;
                display: inline;
            }

        }

        .editor-header-button {

            @extend .editor-header-item;

            &:hover {
                color: $editor-header-item-tint-color;
                text-decoration: none;
            }
        }

        .editor-header-segment-control {

            display: inline-block;
            // Fix to remove spacing between items
            font-size: 0;

            .segment-control-option {

                @extend .editor-header-item;

                // Style
                font-size:12px;
                padding: 0 calc(#{$editor-header-item-height} / 4);
                width: auto;
                border-radius: 0;

                &.selected {
                    background-color: darken($editor-header-background-color, 2.5);
                }

                &:hover {
                    text-decoration: none;
                    color: $editor-header-item-tint-color;
                }

                &:not(:first-child, :last-child) {
                    margin-left: 0;
                    margin-right: 0;
                }

                &:not(:first-child) {
                    border-left: 0;
                }

                &:first-child {
                    border-top-left-radius: calc(#{$editor-header-item-height} / 2);
                    border-bottom-left-radius: calc(#{$editor-header-item-height} / 2);
                    padding-left: calc(#{$editor-header-item-height} / 2);
                    margin-right: 0;
                }

                &:last-child {
                    border-top-right-radius: calc(#{$editor-header-item-height} / 2);
                    border-bottom-right-radius: calc(#{$editor-header-item-height} / 2);
                    padding-right: calc(#{$editor-header-item-height} / 2);
                    margin-left: 0;

                }
            }
        }

        form {
            display: inline-block;
        }

        input.editor-header-textarea {

            @extend .editor-header-item;
            font-size: 14px;
            padding: calc(#{$editor-header-item-height} / 2 - 15px) calc(#{$editor-header-item-height} /2) 0 calc(#{$editor-header-item-height} /2); // Hack to help vertically center text in textarea
            line-height: 14px;
            border-radius: calc(#{$editor-header-item-height} / 2);
            width: 150px;
            resize: none;
            text-align: left;
            overflow-x: scroll;
            overflow-y: hidden;

            &:focus {
                border-color: $editor-header-item-tint-color;
                outline: 0 none;
            }
        }
    }

    .editor-content {

        position: absolute;
        top: $editor-header-height;
        bottom: 0;
        right: 0;
        left: 0;
        overflow-y: scroll;
        outline: 0px;
    }

    .ace_editor {

        .ace_scroller {
            margin: 0 20px;
        }

        .ace_gutter {
            padding: 0 0;
            color: #ddd;
        }
    }

}
