<!-- sideMenu.html -->
<template name="menu">
  <nav id="menu" class="menu">
        <div class="menu-header">
            <p>My Documents</p>
        </div>
        <div class="menu-wrapper">
            <ul class="menu-list">
                {{#each files}}
                  {{> file}}
                {{/each}}
             </ul>
        </div>
        <div class="menu-footer">
          <a href="#" class="btn btn-create">Create</a>
          <!--<a href="#" class="btn btn-login">Login with Github</a>-->
        </div>
  </nav>
</template>

<template name="file">
    <li class="menu-item {{#if isActive}}active{{/if}}"><a class="pull-right destroy">&times;</a><a class="menu-link">{{title}}</a></li>
</template>
