<!-- sideMenu.html -->
<template name="menu">
  <nav id="menu" class="menu">
        <div class="menu-header">
            <p>My Documents</p>
        </div>
        <div class="menu-wrapper">
            <ul class="menu-list">
                {{#each files}}
                  {{> file}}
                {{/each}}
             </ul>
        </div>
        <div class="menu-footer">
          <form class="new-file">
            Create File: <input type="text" name="text" placeholder="Type to add new files" />
          </form>
        </div>
  </nav>
</template>

<template name="file">
  <li class="{{#if checked}}checked{{/if}}">
    <button class="delete">&times;</button>
    <span class="text">{{text}}</span>
  </li>
</template>
