<!-- editor.html -->

<template name="editor">
    <div class="editor">
        <div class="editor-header">
            <a href="" class="editor-header-button"><i class="material-icons">format_bold</i></a>
            <a href="" class="editor-header-button"><i class="material-icons">format_italic</i></a>
            <a href="" class="editor-header-button"><i class="material-icons">code</i></a>
            <a href="" class="editor-header-button"><i class="material-icons">link</i></a>
            <a href="" class="editor-header-button"><i class="material-icons">image</i></a>
            <a href="" class="editor-header-button"><i class="material-icons">text_format</i></a>
            <ul class="editor-header-segment-control">
                <li>Markdown</li>
                <li class="selected">Preview</li>
            </ul>
        </div>
    </div>
</template>
