<!-- sideMenu.html -->
<template name="sideMenu">
    <div class="side-menu">
        <h1>Documents</h1>
        <div class="list-group">
            <a href="#" class="list-group-item clearfix">
                Test.md
                <span class="pull-right">
                    <button class="btn delete">&times;</button>
                </span>
            </a>
            <a href="#" class="list-group-item active clearfix">
                Test.md
                <span class="pull-right">
                    <button class="btn delete">&times;</button>
                </span>
            </a>
        </div>
    </div>
</template>
