/*
 * colors.scss
 *
 * All style colors go here.
 */


/*
 * Theme colors
 */

$space-gray-color:         #1c1d22;
$turquoise-color:          #1abc9c;
$destroy-red-color:        #ed4b18;

/*
 * Menu colors
 */

$menu-background-color:    $space-gray-color;
$menu-primary-color:       $turquoise-color;
$menu-secondary-color:     white;

/*
 * Editor colors
 */
