/*
 * colors.scss
 *
 * All style colors go here.
 */


/*
 * Theme colors
 */

$black-russian-color:                 #25262d;
$mountain-meadow-color:               #1abc9c;
$comet-color:                         #67686e;
$white-smoke-color:                   rgba(#000, 0.1);

/*
 * Menu colors
 */

$menu-background-color:    $black-russian-color;
$menu-primary-color:       $mountain-meadow-color;
$menu-secondary-color:     white;

/*
 * Editor Header colors
 */

$editor-header-background-color:         white;
$editor-header-color:                    $comet-color;
$editor-header-border-color:             $white-smoke-color;
$editor-header-item-background-color:    white;
$editor-header-item-color:               $comet-color;
$editor-header-item-tint-color:          $mountain-meadow-color;
$editor-header-item-border-color:        $white-smoke-color;
